<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Leaflet Quick Start Guide Example</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='css/external/leaflet.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <script type="text/javascript">
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
</head>
<body>

	<div id="map">
  </div>

  <div id="itinerary">
    <span id="itinerary-title">Places</span>
    <ul id="place-list"></ul>
  </div>

  <div id="search" style="text-align:center;">
    <span id="itinerary-title">Search</span>
    <br />
    <input type="text" name="search" />
    <button id="search-button">Click!</button>
  </div>

  <!-- external javascript -->
  <script src="{{url_for('static', filename='js/external/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/external/jquery-ui.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/external/leaflet.js')}}"></script>

  <!-- in-house -->
  <script src="{{url_for('static', filename='js/map.js')}}"></script>
  <script src="{{url_for('static', filename='js/place_list.js')}}"></script>

  <script>
    if (document.cookie === '') {
      var zipcode = prompt("Please enter your zipcode.", "xxxxx");
      document.cookie = zipcode;
    } 

    $(function() {
      $('#search-button').bind('click', function() {
        $.getJSON($SCRIPT_ROOT + '/location/' + document.cookie + '/' + 
           $('input[name="search"]').val(), {
        }, function(data) {
          $("#result").html(JSON.stringify(data));
          placeList = $('ul#place-list');
          placeList.append("<li class='place-item'>" + Object.keys(data)[0] + '</li>');
          var newMarker = data[Object.keys(data)[0]];
          newMarker['name'] = Object.keys(data)[0];
          addPlaceToMap(newMarker);
        });
        return false;
      });
    });
  </script>
</body>
</html>
