<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="itineraryApp">
<head>
	<title>Open Itinerary</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="http://www.jsdelivr.com/#!hint.css" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/external/leaflet.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='js/external/leaflet-routing-machine.css')}}">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/external/leaflet.awesome-markers.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <script type="text/javascript">
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $STATIC_DIR = "{{url_for('static', filename="")}}";
  </script>
</head>
<body>

  <div class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="#" class="pure-menu-heading">Open Itinerary</a>

    <ul>
      <li>
        <div id="search" class="pure-form" ng-controller="autocompCtrl">
          <input id="search-query" type="text" name="search" class="pure-input-rounded" ng-autocomplete ng-model="autocomplete" options="options" details="details" value=""/>
          <button id="search-button" type="submit" class="pure-button pure-button-primary">
            <i class="fa fa-search-plus"></i>
            Find
          </button>
        </div>
      </li>

      <li>
        <a href="#" class="fork-button" onclick="forkItinerary()">
          <i class="fa fa-code-fork fa-2x"></i>
          Fork this itinerary!
        </a>
      </li>

      <li>
        <!-- <div class="hint--bottom" data-hint="This itinerary is a fork! Click here to see the original"> -->
        <a href="#">
          <i class="fa fa-cloud fa-2x"></i>
          <div id="fork"></div>
        </a>
        <!-- </div> -->
      </li>

      <li id="itinerary-title">Itinerary</li>
    </ul>
  </div>
  <div id="start">
    <h1>Welcome to Open Itinerary.</h1>
    <br />
    <p>Let's start with some basic information.</p>
    Where are you traveling to? (enter zip code)
    <input type="text" name="start-zipcode" /><br />
    <button class="pure-button pure-button-primary" style="margin-top:30px;" id="start-button">Click to begin!</button>
  </div>

	<div id="map">
  </div>

  <div class="pure-menu pure-menu-open" id="itinerary">
      <ol id="place-list"></ol>
      <button id="route-recommend" class="button-small button-secondary pure-button"><i class="fa fa-tags"></i>Route Recommendations</button>
    </div>



  <!-- external javascript -->

  <script src="{{url_for('static', filename='js/external/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/external/jquery-ui.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/external/leaflet.js')}}"></script>
  <script src="{{url_for('static', filename='js/external/underscore.js')}}"></script>
  <!-- required for ngAutocomplete -->
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  <!-- <script src="http://www.mapquestapi.com/sdk/leaflet/v1.0/mq-map.js?key=Fmjtd%7Cluur2h0221%2Crs%3Do5-9wb2q0 "></script> -->
  <!-- <script src="http://www.mapquestapi.com/sdk/leaflet/v1.0/mq-routing.js?key=Fmjtd%7Cluur2h0221%2Crs%3Do5-9wb2q0"></script> -->
  <script src="{{url_for('static', filename='js/external/angular.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/external/ngAutocomplete.js')}}"></script>
  <script src="{{url_for('static', filename='js/app.js')}}"></script>
  <script src="{{url_for('static', filename='js/external/bouncemarker.js')}}"></script>
  <script src="{{url_for('static', filename='js/external/leaflet-routing-machine.js')}}"></script>
  <script src="{{url_for('static', filename='js/external/leaflet.awesome-markers.js')}}"></script>

  <!-- in-house -->
  <script src="{{url_for('static', filename='js/map.js')}}"></script>
  <script src="{{url_for('static', filename='js/recommendations.js')}}"></script>
  <script src="{{url_for('static', filename='js/routing-machine.js')}}"></script>
  <script src="{{url_for('static', filename='js/place_list.js')}}"></script>
  <script src="{{url_for('static', filename='js/zack.js')}}"></script>

</body>
</html>
