<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="itineraryApp">
<head>
	<title>Leaflet Quick Start Guide Example</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='css/external/leaflet.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <script type="text/javascript">
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
</head>
<body>

  <div id="start">
    <h1>Welcome to --NAME--</h1>
    <br />
    <p>Let's start with some basic information.</p>
    Where are you traveling to? (enter zip code)
    <input type="text" name="start-zipcode" />
    <button id="start-button">Click to begin!</button>
  </div>

	<div id="map">
  </div>

  <div id="itinerary">
    <span id="itinerary-title">Places</span>
    <ol id="place-list"></ol>
  </div>

  <div id="search" style="text-align:center;" ng-controller="autocompCtrl">
    <span id="itinerary-title">Search</span>
    <br />
    <input type="text" name="search" ng-autocomplete ng-model="autocomplete" options="options" details="details" />
    <button id="search-button">Click!</button>
  </div>

  <!-- external javascript -->

  <script src="{{url_for('static', filename='js/external/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/external/jquery-ui.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/external/leaflet.js')}}"></script>
  <script src="{{url_for('static', filename='js/external/underscore.js')}}"></script>
  <!-- required for ngAutocomplete -->
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  <script src="{{url_for('static', filename='js/external/angular.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/external/ngAutocomplete.js')}}"></script>
  <script src="{{url_for('static', filename='js/app.js')}}"></script>

  <script src="{{url_for('static', filename='js/external/bouncemarker.js')}}"></script>

  <!-- in-house -->
  <script src="{{url_for('static', filename='js/map.js')}}"></script>
  <script src="{{url_for('static', filename='js/recommendations.js')}}"></script>
  <script src="{{url_for('static', filename='js/place_list.js')}}"></script>

  <script>
    if (document.URL.indexOf('/id/') === -1) {
      $('#start').show();
    } else {
      if (document.cookie === '') {
        var zipcode = prompt("Please enter your zipcode.", "xxxxx");
        document.cookie = zipcode;
      }
      $('#itinerary').show();
      $('#search').show();
    }

    $(function() {
      $('#search-button').bind('click', function() {
        $.getJSON($SCRIPT_ROOT + '/location/' + document.cookie + '/' + 
           $('input[name="search"]').val(), {
        }, function(data) {
          placeList = $('ol#place-list');
          liList = $('li.place-item');

          var newName = Object.keys(data)[0];
          var newData = data[newName];

          var jsonArr = {
            "id": newData['place_id']
            , "lat": newData['lat']
            , "lon": newData['lon']
            , "name": newName
          };

          placeList.append("<li data-json='" + JSON.stringify(jsonArr) + "' class='place-item'>" + newName + '<button class="delete-button" onclick="removePlace(' + parseInt(liList.length) + ')">X</button></li>');
          var newMarker = newData;
          newMarker['name'] = newName;
          addPlaceToMap(newMarker, parseInt(liList.length)+1, true);

          var url = document.URL;
          if (url.indexOf("/id/") > -1) {
              url = url.split('/');
              var daId = url[4];

              var itin = {"itinerary" : []};
              $("ol#place-list").each(function( index ) {
                  $(this).find("li").each(function(){
                      itin.itinerary.push($(this).data("json"));
                  });
              });

              $.post("/itinerary/" + daId, JSON.stringify(itin), function(data) {
                  console.log("Saved new itinerary order");
                  console.log(data);
              }, "json");
          }
        });
        return false;
      });
    });

    $(function() {
      $('#start-button').bind('click', function() {
        $('#start').hide();
        $('#itinerary').show();
        $('#search').show();
        document.cookie = $('input[name="start-zipcode"]').val();

        $.post('/itinerary/create', JSON.stringify({"itinerary": []}), function(data) {
          //document.title = 'http://' + window.location.hostname + '/id/' + data.objectId;
          window.history.pushState({"pageTitle":"TEST"},"", 'http://' + window.location.hostname + ':5000/id/' + data.objectId);
        }, "json");
      });
    });
  </script>
</body>
</html>
