<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript">
  $(function() {
    $('#test').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/location/' + $('input[name="location"]').val(), {
      }, function(data) {
        $("#result").html(JSON.stringify(data));
      });
      return false;
    });
  });
</script>

<input type="text" name="location" />
<button id="test">Click me!</button>

<div id="result">
----DATA WILL GO HERE----
</div>